<template name="products">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        {{> sidebar}}
      </div>
      <div class="col-md-7">
        <h3>Products</h3>
        {{#each products}}
          <div class="row">
            <div class="col-md-4">
              <img src="{{image}}" class="full">
            </div>
            <div class="col-md-8">
              <h4>{{name}}</h4>
              <p>{{year}}</p>
              <p class="lightblue">{{price}}</p>
              <p>{{description}}</p>
            </div>
          </div>
          <hr>
        {{else}}
          <p>No products here, add some quickly!!</p>
        {{/each}}
      </div>
      <div class="col-md-2">
        {{> qfsidebar}}
      </div>
    </div>
  </div>
</template>
