<template name="home">
  {{> featured}}
  <div class="container">
  <section id="products">
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="img/s5.png" alt="Descrpetion here">
              <div class="caption">
                <h4 class="pull-right">$699.99</h4>
                <h4><a href="product.html">Samsung Galaxy S5</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto est eligendi aperiam quasi sapiente harum veniam unde voluptate doloremque.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="img/xbox.png" alt="Descrpetion here">
              <div class="caption">
                <h4 class="pull-right">$599.99</h4>
                <h4><a href="product.html">Xbox One</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto est eligendi aperiam quasi sapiente harum veniam unde voluptate doloremque.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="img/ps4.png" alt="Descrpetion here">
              <div class="caption">
                <h4 class="pull-right">$299.99</h4>
                <h4><a href="product.html">PlayStation 4</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto est eligendi aperiam quasi sapiente harum veniam unde voluptate doloremque.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="img/tv.png" alt="Descrpetion here">
              <div class="caption">
                <h4 class="pull-right">$899.99</h4>
                <h4><a href="product.html">Smart TV</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto est eligendi aperiam quasi sapiente harum veniam unde voluptate doloremque.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="img/surface.png" alt="Descrpetion here">
              <div class="caption">
                <h4 class="pull-right">$599.99</h4>
                <h4><a href="product.html">Microsucks Surface</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto est eligendi aperiam quasi sapiente harum veniam unde voluptate doloremque.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="img/ipad.png" alt="Descrpetion here">
              <div class="caption">
                <h4 class="pull-right">$299.99</h4>
                <h4><a href="product.html">Apple Ipad</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto est eligendi aperiam quasi sapiente harum veniam unde voluptate doloremque.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</template>
