<template name="home">
  <!-- {{> featured}} -->
  {{> jumbotron}}
  <section id="products">
    <div class="container">
      <div class="row">
        {{#each products}}
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="{{image}}">
            </div>
            <div class="caption">
              <h4 class="pull-right">{{price}}</h4>
              <h4><a href="/products/{{slug}}">{{name}}</a></h4>
              <p>{{description}}</p>
            </div>
          </div>
        {{else}}
         <p>There are no items to display! Add some quick!</p>
        {{/each}}
        <hr>
      </div>
    </div>
  </section>
</template>
