<template name="header">
  <header>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h1 class="logo"><i class="glyphicon glyphicon-tags lightblue"></i> <span class="primary"> Dolls</span> 'n' <span class="primary">such</span></h1>
        <p class="subtext">Barbies and <span class="lightblue">Rare Dolls</span></p>
      </div>
      <div class="col-md-8 col-sm-12">
        <form class="form-inline">
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
          </div>
          <button type="submit" class="btn btn-default">Send invitation</button>
        </form>
      </div>
    </div>
  </header>
</template>
